<!-- inicio.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>RedDragonMarket</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="auth-body">
<main class="container-center">
    <h1>Bienvenido a RedDragonMarket</h1>
    <div class="button-group">
        <a href="/registro"><button class="btn">Registrarse</button></a>
        <a href="/login"><button class="btn">Iniciar sesión</button></a>
    </div>
</main>
</body>
</html>
